/*This is my screen css file*/
/*@imports comes first.*/

@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('normalize.css');

* {
    box-sizing: border-box;
    /* changes width property
    to total width instead of content width */
}

*:before,
*:after {
    box-sizing: border-box;
}

article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
    display: block;
    /* just in case we have
    any older browsers that don't recognize
    the HTML5 semantic elements */
}

body {
    margin: 0;
    /* remove any margin from body */
    padding: 0;
    /* ditto for padding */
    font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Sansita, arial, sans-serif;
}

/* Mobile rules*/

header, nav ul, h1, #locationInfo{
    display: flex;
}


header{
    background-color: #0e89d5;
    justify-content: flex-start;
}


.logo {
    font-size: 2em;
    padding-top: 5px;
}


.site-title {
    font-size: 2em;
    font-weight: 300;
}

h1{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 5px;
}

#locationInfo {
    width: 100%;
    display: flex;
    font-size: .65em;
    padding-left: 5px;
}

nav {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #0e89d5;
}


nav ul {

    padding-left: 1px;
    margin-top: 2px;
    margin-bottom: 2px;
    overflow-x: auto;
}

nav ul li {
    list-style: none;
    height: auto;
    padding: 3px;
}

#hourly ul{
    list-style: none;
}


nav a:link {
    text-decoration: none;
    color: #fff;
}

nav a:visited {
    color: #000;
}

nav a:hover {
    color: #FFF;
}

nav a:active {
    color: #FFF;
}

#curWeather {
    background-image: url("/weather/images/sunny-winter.jpg");
    background-size: cover;
    margin: .2em auto;
    border: 1px solid;
}

#smallConditions {
    display: flex;
    background-color: rgba(200, 200, 200, .8);
    margin: 10px;
    padding: 0px 0px 0px 20px;
    border: 1px solid;
    border-radius: 15px;
}

#temps h2{
    display: none;
}

#temps {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    width: 65%;
}

#temps h3 {
    font-size: 4em;
    margin-top: 5px;
    margin-bottom: 5px;
}

#hot {
    color: red;
    padding-left: 25px;
    margin: 0px;
}

#cold {
    color: blue;
    padding-left: 15px;
    margin: 0px;
}

#north{
    text-align: center;
    margin-right: 25%;
}

#dial img {
    align-self: center;
    width: 75%;
}

#wind {
    display: flex;
    flex-flow: column nowrap;
}

#wind p {
    margin: 0px;
}

#wind h2 {
   display: none;
}

#video {
    background-color: rgba(200, 200, 200, .8);
    margin: 10px;
    border: 1px solid;
    border-radius: 15px;
}

#video h3{
    display: none;
}

#video img {
    display: block;
    margin: 10px auto;
    }

#hourly ul {
    display: flex;
    overflow-x: scroll;
    background-color: gray;
    color: white;
    padding-left: 0px;
}

#hourly li{
    padding: 10px;
    flex: 0 0 auto;
}

footer {
    margin-bottom: 2em;
    background-color: #0e89d5;
}
